body {
	background-color: #000;
	font-family: courier, monospace;
	color: #fff;
	width:80%;
	margin-left:5%;
	margin-right:5%;
}

#terminal {
	width:100%;
	margin-top:10%;
	font-size:.9em;
}

.cursor {
  -webkit-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
    color: white;
 }

}

@-webkit-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: white;
 }

}

h1 {
	margin-top: 5%;
}

.c0 {
	color: rgb(0,0,0);
}

.c1 {
	color: rgb(255,0,0);
}

.c2 {
	color: rgb(0,255,0);
}

.c3 {
	color: rgb(255,255,0);
}

.c4 {
	color: rgb(0,0,255);
}

.c5 {
	color: rgb(255,0,255);
}

.c6 {
	color: rgb(0,255,255);
}

.c7 {
	color: rgb(229,229,229);
}

.c8 {
	color: #FFA500;
}
